.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43vh;
}

.divPresent1{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30.0rem;
  width: 44.0rem;
  margin-top: 6rem;
  margin-right: 7rem;
}


.present1{
  color: black;
  font-weight: bolder;
  text-align: justify;
  font-size: 2.0rem;
}

.present2{
  font-size: 3.5rem;
  text-align: justify;
}

.present3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0;
}

.apresentation{
  display: flex;
  flex-direction: row;
  background-color: #EB311F;
  width: 50%;
  height: 35vh;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid white;
}

.description{
  display: flex;
  text-align: justify;
  width: 50%;
  height: 35vh;
  background-color: #EB311F;
  color: #FFF6F6;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
  padding: 3vh;
  box-sizing: border-box;
}

.card{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  width: 15.0rem;
  height: 19.0rem;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  padding: 0.8rem;
}

.imgCard{
  border-radius: 50%;
  margin-top: 3vh;
}

.positionImage{
  margin-top: 2.2rem;
}

.pessoaNome{
  color: #EB311F;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1.8rem;
}

.pessoaCargo{
  color: #000000;
  font-size: small;
  font-weight: bold;
}

.styleButton{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-0%, -0%);
}

.styleButton{

  margin-top: 3vh;
  width: 29.0rem;
  height: 4.5rem;
  text-align: center;
  border-radius: 58px;
  border: 2px solid #EB311F;
  color: white;
  font-size: large;
  position: relative;
  overflow: hidden;
  background-color: #EB311F;
  transition: all .35s;
  font-weight:bold ;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.styleButton:before,
.styleButton:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: white;
  z-index: -1;
  transition: all .35s;
}

.styleButton:before{
  opacity: .5;
}

.styleButton:after{
  transition-delay: .2s;
}

.styleButton:hover{
  color: #EB311F;
  cursor: pointer;
}

.styleButton:hover:before,
.styleButton:hover:after{
  top:0;
}

@media(max-width: 450px){

  .container  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .divPresent1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
  }

  .divPresent2 {
    display :none;
  }

  .present3{
    background-color: #EB311F;
  }

  .present3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .description{
    display: none;
  }

  .present1{
    color: black;
    font-weight: bolder;
    text-align: justify;
    font-size: 2.0rem;
  }
  
  .present2{
    font-size: 3.5rem;
    text-align: justify;
  }

  .apresentation{
    display: flex;
    flex-direction: column;
    background-color: #EB311F;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    border: none;
  }

  .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 15.0rem;
    height: 19.0rem;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    padding: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}
