.container{
  display: flex;
  justify-content: center;
}

.divPresent1{ 
  height: 300px;
  width: 400px;
  margin-top: 6em;
}

.divPresent2{ 
  margin-left: 3em; 
}

.present1{
  margin: 0;
  padding: 0;
  color: #9C4F4F;
  font-weight: bolder;
  text-align: justify;
  font-size: 17px;
}

.present2{
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-align: justify;
}
