.navbar{
  display: flex;
  background-color: rgb(224, 214, 194);
  padding: 40px;
  list-style: none;
}

.navbar a{
  color: black;
  margin-right: 10em;
  text-decoration:none;
  transition: .3s;
}

.navbar a:hover{
  color: rgb(219, 84, 84);
}

#otis 
li { list-style-type: circle; }