.navbar{
  display: flex;
  background-color: #FFF6F6;
  padding: 25px;
  list-style: none;
  font-size:large;
  border-bottom: 1px solid #ac8484;
}

.lista{
  display: flex;
  margin-top: 13px;
  margin-left: 100px;
}

.navbar a{
  color: black;
  margin-right: 6em;
  text-decoration:none;
  transition: .3s;
}

.navbar a:hover{
  color: rgb(219, 84, 84);
}

.listaButtons{
  display: flex;
  margin-top: 8px;
  margin-left: 490px;
  list-style: none;
}